{% extends "base.html" %}

{% block title %}看世界{% endblock %}

{% block content %}


<div class='container'>
    <div class='bs-docs-section'>
        <div class='row'>
        <div class="col-lg-12">
            <div class="page-header">
                <h1 id="container"></h1>
            </div>
            <div class="bs-component">
                <div class="jumbotron">
                <h1>Shadowsocks</h1>
                <p>轻量级科学上网工具</p>
                <p><a class="btn btn-primary btn-lg">Learn more</a></p>
                </div>
                <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div></div>
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}

{% block myscript %}

{% endblock %} 