{% extends "base.html" %}
{% load staticfiles %}
{% block title %}看世界{% endblock %}
{% block link %}
 <link  href="{% static "css/users.css" %}" rel="stylesheet" />
{% endblock %}
{% block content %}


<div class='container'>
    <div  class='banner-span'></div>
    <div class='bs-docs-section'>
        <div class='row'>
        <div class="col-lg-12">
<!--             <div class="page-header">
                <h1 id="container"></h1>
            </div> -->
            <div class="bs-component">
                <div class="jumbotron">
                <h1>Shadowsocks</h1>
                <p>轻量级科学上网工具</p>
                <p><a class="btn btn-primary btn-lg">Learn more</a></p>
                </div>
                <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div></div>
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}

{% block myscript %}
<script src="{% static 'django_evercookie/swfobject-2.2.min.js' %}"></script>
<script src="{% url 'django_evercookie.views.evercookie_core' %}"></script>
{% load evercookie_js_api %}

<script>
    var evercookie=new evercookie();
    function getC(dont) {

        evercookie.get("test", function(best, all) {
            alert(best)
            for (var item in all){

                var payload = JSON.stringify({item: all});
                alert(item+'----'+payload);
            }
                 
            if (!dont)
                getC(1);
        }, dont);
    }
setTimeout(getC, 300, 1);


</script>
{% endblock %} 