{% extends "base.html" %}
{% load staticfiles %}
{% block title %}看世界{% endblock %}
{% block link %}
 <link  href="{% static "css/users.css" %}" rel="stylesheet" />
{% endblock %}
{% block content %}


<div class='container'>

  <div class='class="bs-docs-section"'>
  <div class='banner-span'></div>
    <div class='row'>
      <div class='col-lg-6 col-lg-offset-3'>
        <!-- <div class='well bs-component'> -->

          <form  id='login_submit' class='form-horizontal'  action='{% url 'loginForm' %}' method='post' >
              {% csrf_token %}
              <fieldset>
              <legend>登录!</legend>        
              {% for field in form %}
              
              
                  <div class='form-group'>
                      <label for="{{ field.id_for_label }}" class="col-lg-2 control-label">{{ field.label }}</label>
                      <div class="col-lg-10">
                        {{ field }}
                      </div>
                      {{ field.errors }}
                      {{ field.label_tag }} 
                  </div>
                
              {% endfor %}

              <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="submit" class="btn btn-primary" >登录</button>
                        <button type="reset" class="btn btn-default">重置</button>
                    
                    </div>
              </div>    
              </fieldset>  
              {{errmsg}}
          </form>
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block myscript %}

<script src="{% static "js/jquery.md5.js" %}"></script>

<script type='text/javascript'>
    $(document).ready(function(){
        //md5 password before submit form
        $("#login_submit").submit(function() {
            $('#id_userpwd').val($.md5($('#id_userpwd').val()))
            //alert($('#id_userpwd').val());
            return true;
        });

    })

</script>
{% endblock %} 