{% extends "base.html" %}

{% block title %}看世界{% endblock %}

{% load staticfiles %}
{% block link %}
<link href="{% static "css/users.css" %}" rel="stylesheet" />
{% endblock %}

{% block content %}

{% include 'users/users_front_header.html' %}
{% include 'users/users_front_left.html' %}

<div class='users-front-right'>
    <div>
        <form action='{% url 'updateUserInfoForm' %}' method='POST'>
        {% csrf_token %}
        {{updateLoginForm}}
        <input type='submit' value='提交'/>
        </form>
    </div>

    <div>
        <form action='' method = 'POST'>
        {{updateSSForm}}
        <input type='submit' value ='提交'/>
        </form>
    </div>
</div>
{% endblock %}

{% block myscript %}

{% endblock %} 