{% extends "base.html" %}

{% block title %}看世界{% endblock %}

{% load staticfiles %}
{% block link %}
<link href="{% static "css/users.css" %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class='container'>
<div class='row'>
    {% include 'users/users_front_left.html' with actnum=1 %}

    <div class='col-lg-9'>
        <div class='banner-span'></div>
        {{nodename}}
    </div>

</div>
</div>
{% endblock %}

{% block myscript %}
<script src="{% static "js/jquery.md5.js" %}"></script>
<script type="text/javascript">


</script>
{% endblock %} 